.btn {
  display: inline-flex;
  border-radius: 8px;
  font-weight: bold;
  padding: 16px 32px;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  letter-spacing: 0.04em;
  background-color: var(--link);
  color: var(--link-contrast);
  transition: all 0.04s;

  &:hover {
    background-color: var(--link-hover);
    transform: translateY(2px);
  }

  &:active {
    transform: translateY(4px);
  }
}