:root {
  --space-largest: 5rem;
  --space-larger: 4rem;
  --space-large: 3rem;
  --space-default: 2rem;
  --space-small: 1rem;
  --space-smaller: 0.5rem;
  --space-smallest: 0.25rem;
}

@layer layout {
  $baseGrid: 4px;

  @for $i from 1 through 20 {
    .m-#{$i} {
      margin: $i * $baseGrid;
    }

    .mh-#{$i} {
      margin-left: $i * $baseGrid;
      margin-right: $i * $baseGrid;
    }

    .mv-#{$i} {
      margin-top: $i * $baseGrid;
      margin-bottom: $i * $baseGrid;
    }

    .mb-#{$i} {
      margin-bottom: $i * $baseGrid;
    }

    .mt-#{$i} {
      margin-top: $i * $baseGrid;
    }
  }

  @for $i from 1 through 20 {
    .p-#{$i} {
      padding: $i * $baseGrid;
    }

    .ph-#{$i} {
      padding-left: $i * $baseGrid;
      padding-right: $i * $baseGrid;
    }

    .pv-#{$i} {
      padding-top: $i * $baseGrid;
      padding-bottom: $i * $baseGrid;
    }

    .pb-#{$i} {
      padding-bottom: $i * $baseGrid;
    }

    .pt-#{$i} {
      padding-top: $i * $baseGrid;
    }
  }

  .section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-content {
    width: 100%;
    max-width: 800px;
  }

  .row {
    display: flex;
    column-gap: 3rem;
    width: 100%;

    @media screen and (max-width: 720px) {
      flex-direction: column;
    }
  }

  .col {
    flex: 1 1;
  }

  .bento-wrapper {
    padding: 1rem;
    width: 100%;
    margin-bottom: var(--space-default);
  }

  .bento {
    text-align: center;
    border-radius: 2rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 480px) {
      padding: 3rem;
    }
  }
}
