@font-face {
  font-family: Bakso;
  src: url("/fonts/BaksoSapi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --light: 300;
  --regular: 400;
  --bold: 700;
}

@layer base {
  body {
    font-family: Lexend, sans-serif;
    color: var(--text);
    font-weight: var(--regular);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  .text-center {
    text-align: center;
  }

  .text-left {
    text-align: left;
  }

  .copy {
    font-size: 20px;
    line-height: 1.75em;
    margin: 0.5em 0 1em 0;
    letter-spacing: 0.02em;

    &-small {
      font-size: 1rem;
      line-height: 1.5em;
      margin: 0.5em 0 1em 0;
    }

    &-smallest {
      font-size: 14px;
      line-height: 1.5em;
      margin: 0.5em 0 1em 0;
    }
  }

  .bakso {
    font-family: Bakso, sans-serif;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5 {
    line-height: 1em;
    font-weight: var(--bold);
  }

  $headline-base-size: 1.5rem;

  .h1 {
    font-size: $headline-base-size * 4;
  }

  .h2 {
    font-size: $headline-base-size * 3;
  }

  .h3 {
    font-size: $headline-base-size * 2;
  }
  .h4 {
    font-size: $headline-base-size * 1.5;
  }
  .h5 {
    font-size: $headline-base-size;
  }

  @media (max-width: 480px) {
    $headline-base-size: 1.5rem;

    .h1 {
      font-size: $headline-base-size * 2;
    }

    .h2 {
      font-size: $headline-base-size * 1.5;
    }

    .h3 {
      font-size: $headline-base-size * 1.25;
    }
    .h4 {
      font-size: $headline-base-size * 1;
    }
    .h5 {
      font-size: $headline-base-size;
    }
  }

  a {
    color: var(--link);
  }

  .highlight {
    color: var(--highlight);
  }
}
