@use "colors";
@use "btn";
@use "typo";
@use "layout";

@layer base, layout, theme;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  a {
    // text-underline-position: under;
    // text-decoration-thickness: 8;
  }

  html,
  body {
    min-height: 100%;
    width: 100%;
  }

  html {
    font-size: 100%;
  }

  body {
    margin: 0;
  }
}
