@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bolle";
  src: url("/fonts/MFHeavyHandedLargeRegular/font.woff2") format("woff2");
  font-display: block;
}

:root {
  --color-yellow-transparent: theme("colors.yellow.transparent");
  --color-green-transparent: theme("colors.green.transparent");
  --color-black-transparent: theme("colors.black.transparent");
  --color-yellow: theme("colors.yellow.DEFAULT");
  --color-green: theme("colors.green.DEFAULT");
  --color-black: theme("colors.black.DEFAULT");
}

body {
  font-family: Lexend, sans-serif;
}
